@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    @apply no-scrollbar;
  }
  body {
    @apply bg-hkbbg text-hkbtext dark:bg-hkbdarkmodebg dark:text-hkbdarkmodetext;
  }
  p {
    @apply font-medium text-hkbgraydarkmode dark:text-hkbgray text-base md:text-base lg:text-lg xl:text-xl;
  }
  h1 {
    @apply uppercase font-bold tracking-wider text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
  }
  h2 {
    @apply uppercase font-bold tracking-wider text-sm md:text-base  xl:text-lg;
  }
  h3 {
    @apply uppercase font-bold tracking-wider text-base md:text-lg xl:text-2xl;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#7e052e, #7e052e);
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 50% 100%;
}
